

body{
    background: rgb(9,13,157) url("img/photo-1519681393784-d120267933ba.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}


.inputTable{
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    border-radius: 15px 15px 30px;
    border: whitesmoke 1px solid;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 13%;
    margin-left: 40%;
    width: 20%;
    padding: 1%;
}
.container{

    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 2%;
    justify-content: center;
}
.weather{
    color: rgba(0, 0, 0, 0.4);
}
.wrapper{
    margin-left: 2%;
    margin-top: 1%;

    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    border-radius: 15px 15px 30px;
    border: whitesmoke 1px solid;
    padding: 2%;
}
#chart {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 50%;
    justify-content: center;
    opacity: 0.6;
    border-radius: 15px 15px 30px;
    margin-left: 10px;
    margin-right: 10px;
}
#outerco{
    flex-direction: row;
    display: flex;
}
@media only screen and (max-width: 680px) {
    body {
        flex-direction: column;
    }
    .container{
        flex-direction: column;
        margin-left: 25%;

    }
    .wrapper{
        width: 50%;

    }
    .inputTable{
        width: 50%;
        margin-left: 25%;
    }
}
